h1{
    color:black;
    position: relative;
    border: 10px solid teal;
    padding: 28px;
    text-align: center;
}
/*Esto es un comentario de prueba */
.responsive {
        border-radius: 50%;
        width: 100%;
        height: auto;
        border: 1px solid teal;
}
fieldset{
    background-color: rgb(247, 236, 217);
    color:teal
}

body{
    background-color: wheat
}